.loadMoreButton {
	display: block;
	margin: 20px auto;
	font-size: 36px;
	color: #5ba5ee;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition:
		transform 0.3s ease,
		color 0.3s ease;

	&:hover {
		color: #1976d2;
		transform: scale(1.2);
	}

	&:active {
		transform: scale(1.1);
	}
}
