.Modal {
	&__backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	&__content {
		background: #fff;
		padding: 40px;
		border-radius: 8px;
		text-align: center;
		border: 1px solid #dee2e6;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		max-width: 90%;
		width: 400px;
	}

	&__actions {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
	}

	&__cancel_btn {
		background-color: #ccc;
		border: none;
		padding: 10px 20px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: #bbb;
		}
	}

	&__confirm_btn {
		background-color: #d9534f;
		color: white;
		border: none;
		padding: 10px 20px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: #c9302c;
		}
	}
}
